/* ... tu c칩digo anterior ... */

.download {
  margin-top: 20px;
  /* Asegura que si el bot칩n es ancho no rompa el dise침o */
  max-width: 100%; 
}

/* Para que la imagen del QR no se salga si la pantalla es muy peque침a */
#qr img, #qr canvas {
    max-width: 100%;
    height: auto;
}
